# State files
**/producer_state.txt

# Airflow logs
airflow/logs/

# Metabase data, ill leave it so we all see my dashboard changes

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/venv/
**/.venv/

# ML artifacts (use DVC or similar for versioning these)
ml/models/
ml/outputs/

# Environment / secrets
.env
*.env

# PDF / misc
descriptif_projet.pdf

# Claude analysis hhh
./DW_PROJECT_ANALYSIS.md


metabase-data/
/metabase-data/
